
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face{
    font-family: Raleway;
    src: url(../fonts/raleway/Raleway-ExtraLightItalic.ttf) format(truetype);
}

body{
    width: 900px;
    position: center;
}
h1{
    font-family: Lato;
    font-size: 3rem;
    font-style: oblique;
}

p{
    font-family: raleway;
    font-size: 3rem;
}

.CV-header{
    background-color: #782221;
}

.photo-portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    width: 7rem ;
    border-radius: 50% ;
    border-color:chocolate 3rem;
    
    
}