
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face{
    font-family: Raleway;
    src: url(../fonts/raleway/Raleway-ExtraLightItalic.ttf) format(truetype), url(../fonts/raleway/Raleway-Black.ttf) format(truetype), url(../fonts/raleway/Raleway-Bold.ttf) format(truetype), url(../fonts/raleway/Raleway-ExtraLight.ttf) format(truetype), url(../fonts/raleway/Raleway-Medium.ttf)format(truetype);
}




body{
    width: 1160px;  
    border-right: 3px solid black;
    margin-left: auto;
    margin-right: auto;   
}

.header{
    width: 1160px;
    height: 230px;
    color: white;
    background-color: #782221;
    padding-top: 25px;
    padding-bottom: 20px;
    font-family: Lato;
}

.flex{
    display: flex;
    justify-content: center;
}

img{
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px black;
}



nav a{
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 0.5rem;
    padding-top: 0.5rem;
    border-right: 5px black;
    width: 1160px;
    padding:0.5rem 40px 35px 40px; 
}

main{
    display: grid;
     grid-template-columns: 1fr 2.3fr;
     grid-template-areas:column-left column-right;
     width: 1160px;
 }

 .main__left-column {
    display: flex;
    flex-direction: column ;
    height: 1010px;
    background-color: #782221;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 2px;
}

.main__left-column-h2{
    background-color: #dbc2a4;    
}

.main__left-column-p{
    color: white;
    text-indent: 10%;
    text-align: justify;
}

.ul-left-column-langues, .ul-left-column-interêts{
    color: white;
    padding-left: 15px;
}

.main__right-column{
    display: block;
    flex-direction: column;
    height: 1010px;
    height: 1010px;
    padding-left: 30px;
    padding-right: 15px;
    width: 780px;
    
}

.main__right-column-h2{
    background-color: #dbc2a4;
}

.main__right-column-h3{   
    line-height: 1;
}


.footer{
    background-color: #782221;
    display: flex;
    
}


